/* CSS for separate scrolling feature */
.photo-list {
    height: 100%; /* Set a default height for the left column */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-left: px; /* Move the scrollbar 10 pixels to the left */

    align-items: center;
    size: 30cm;
}
.photo-list__single-item{
    align-content: center;
    align-items: center;
    padding : 0
}

.photo-details {
    height: 50vh; /* Set a default height for the right column */
    overflow-y: auto; /* Enable vertical scrolling */
}


/* Media query for larger screens */
@media (min-width: 768px) {
    .photo-list, .photo-details {
        height: 80vh; /* Increase the height for larger screens */
        margin-right: px; /* Move the scrollbar 10 pixels to the left */
        padding-right: 10px; 
    }
}


